.Navigation {
  background-color: rgb(161, 150, 202);
  
}

.Home {
  background-color: rgb(255, 255, 255);
}

.Api {
  background-color: rgb(38, 0, 255);
}

.EventListner {
  background-color: rgb(233, 243, 93);
}
.SquareBorder {
  position: relative;
  border: 1px solid rgb(32, 46, 32);
}
#InputCard {
  background-color: rgb(233, 243, 93);
  position: relative;
  border: 1px solid rgb(32, 46, 32);
}
#DetailsCard {
  background-color: rgb(158, 241, 120);
  position: relative;
  border: 1px solid rgb(32, 46, 32);
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
